// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------




//*-----------------------------------
//*** Custom variables for this template
//*-----------------------------------

//Template Theme colors
$theme-color: #4F46E5;
$section-bg-color: #EEF2FF;
$section-bg-color-2: #F8FAFC;

//Template Text colors
$title-color: #1E293B;
$title-color-2: #334155;
$text-color: #475569;
$text-color-2: #94A3B8;
$white-color: #FFFF;

// border color
$border-color: #E2E8F0;
$border-color-2: #CBD5E1;
$border-color-3: #E0E7FF;
$border-color-4: #64748B;



// social-media color
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$star: #F59E0B;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #FBE501;
$nell: #212fb4;
$navy: #d8e0f3;
$placeholder: #a0a6bc;




//Template Font family
$title-font: clase-font, sans-serif;
$text-font: "Inter", serif;

//icon font family
$icon-font: 'Font Awesome 6 Free';

//Template font sizes
$fs-base: 18px !default;
$fs-small: 14px;

//Template font sizes
$fs-h1: 72px;
$fs-h2: 58px;
$fs-h3: 48px;
$fs-h4: 32px;
$fs-h5: 24px;
$fs-h6: 18px;

//Template transition
$transition: all .3s ease-in-out;
$animation-timing: 0.7s;